  .table-wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }

  .table-container {
    overflow-y: auto;
    max-height: 500px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    border: 1px solid #d7d7d7;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }

  .table-wrapper table {
    position: relative;
  }
  
  .table-wrapper table thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
  }